.pokemon-list-card {
    margin-bottom: 10px;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.25;
    text-transform: capitalize;
}

.pokemon-list-card:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}
  
.pokemon-list-card:hover {
    transform: translateY(-1px);
}
  
.pokemon-list-card:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }

.catched-pokemon-list-card {
    border: 1px solid green!important;
    background-color: rgb(137, 255, 211, 0.3)!important;
}