.pokemon-wrapper {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

.pokemon-wrapper h1 {
    text-transform: capitalize;
    padding: 10px 0;
}

.pokemon-wrapper img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.pokemon-wrapper section {
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.25;
    text-transform: capitalize;
    padding: 10px 0;
}

.pokemon-detail-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.pokemon-detail-buttons {
    width: 40%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.25;
    text-transform: capitalize;
    padding: 10px 0;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    max-width: 300px;
    font-size: 1.1rem;
}

.pokemon-detail-buttons:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(-1px);
}

.pokemon-detail-buttons:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.release-btn {
    background-color: rgb(255, 76, 76, 0.6)!important;
}

.pokemon-data, .pokemon-detail-buttons-wrapper {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* transition */

.fade-enter {
    opacity: 0;
    transform: scale(0.7);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1000ms, transform 1000ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 1000ms, transform 1000ms;
}
